.Film__card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.Film__card-img{
      max-width: 500px;
      width: 100%;
      border-radius: 6px;
}
.Film__card-desc{
  max-width: 900px;
  width: 100%;
}
.imdb__link{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.trailer__video{
border-radius: 6px;
}
.imbd__link-a{
    margin-bottom: 50px;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 6px;
}
@media (max-width: 800px) {
    .Film__card-img{
        max-width: 250px;
        width: 100%;
    }
}
@media (max-width: 1200px) {
.Film__card-desc{
    width: 400px;
}
}
@media (max-width: 600px) {
.trailer{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
}
}
.loading{
    text-align: center;
    animation: loadingScroll 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading__img{
    width: 100px;
    height: 100px;
}
@keyframes loadingScroll {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotateZ('angle');
    }
  }